In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
import category_encoders as ce

ModuleNotFoundError: No module named 'category_encoders'

In [4]:
from sklearn.ensemble import GradientBoostingRegressor

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/cameronlefevre/Data Science/coding/GA-DS-Class/ClassMaterial/Unit3/data/restaurants.csv', parse_dates=['visit_date'])

In [9]:
df.sort_values(by=['id', 'visit_date'], ascending=True, inplace=True)

In [15]:
df.reset_index(drop=True, inplace=True)

In [16]:
df.head()

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_00a91d42b08b08d9,2016-07-01,35,2016-07-01,Friday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN
1,air_00a91d42b08b08d9,2016-07-02,9,2016-07-02,Saturday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,4.0
2,air_00a91d42b08b08d9,2016-07-04,20,2016-07-04,Monday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN
3,air_00a91d42b08b08d9,2016-07-05,25,2016-07-05,Tuesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN
4,air_00a91d42b08b08d9,2016-07-06,29,2016-07-06,Wednesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN

In [17]:
df['visit_date']

0        2016-07-01
1        2016-07-02
2        2016-07-04
3        2016-07-05
4        2016-07-06
            ...
252103   2017-04-18
252104   2017-04-19
252105   2017-04-20
252106   2017-04-21
252107   2017-04-22
Name: visit_date, Length: 252108, dtype: datetime64[ns]

In [18]:
df['visit_date'][0]

Timestamp('2016-07-01 00:00:00')