### Connecting Pandas to a Database

This notebook will walk us through how to use pandas to interact with a database, and then query an API and add new values to it.  

Running this code continuously will allow us to programmatically collect a unique data source.

In [7]:
import pandas as pd
import numpy as np
# you will need to import this -- pip install SQLAlchemy
from sqlalchemy import create_engine, types
# you will need to import this -- pip install mysql-connector-python
import requests
# you will need to install this  -- pip install requests-oauthlib
from requests_oauthlib import OAuth1

### Step 1:  Fetching the Data From the Database

In [3]:
# we'll create a dictionary to store all of our database information
df_dict = {
    'connector': 'mysql+mysqlconnector',
    'username' : 'dat1019',
    'password' : 'dat1019password',
    'server'   : 'dat-10-19.cfvn8ddij95j.us-east-1.rds.amazonaws.com',
    'port'     : '3306',
    'database' : 'dat1019'
}

In [4]:
# this string contains all the information
connection_string = f"{df_dict['connector']}://{df_dict['username']}:{df_dict['password']}@{df_dict['server']}:{df_dict['port']}/{df_dict['database']}"

In [5]:
connection_string

'mysql+mysqlconnector://dat1019:dat1019password@dat-10-19.cfvn8ddij95j.us-east-1.rds.amazonaws.com:3306/dat1019'

In [8]:
# this is what we need to connect to our database
engine = create_engine(connection_string)

In [9]:
# we'll now connect to the database and pull in the info
with engine.connect() as connection:
    tweets = pd.read_sql_query("SELECT * FROM tweets", con=connection)

In [10]:
# let's look at our results
tweets.head()

,name,screen_name,text,retweets,favorites,id
0,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: VOTE! VOTE! VOTE!\nhttps:...,117124,0,1323692146147340299
1,Donald J. Trump,realDonaldTrump,https://t.co/zX4bqgtWqH,10186,47177,1323692020880297986
2,Donald J. Trump,realDonaldTrump,https://t.co/SMaOF79kPV,10806,44040,1323691984989622272
3,Donald J. Trump,realDonaldTrump,RT @BarstoolNewsN: The Amish are not playing a...,17887,0,1323684790894297089
4,Donald J. Trump,realDonaldTrump,"A parade for me in Nigeria, a great honor!Â htt...",39398,199959,1323680963310866435

In [11]:
# we will turn this column into a string -- useful for later processing
tweets['id'] = tweets.id.astype(str)

### Step 2:  Getting API Data

In [12]:
# authorization information for the Twitter API
tokens = OAuth1('NOZHm1aLT1AVmchGbCmiZOAga', 'nPyaYCt8L7ymqGZtU8EqC0a2ypI9aSJgVNIhtoZ0wGsaf3BJw9',
                '1079981876864008192-AlhO4yOa06oW2sXZpLpWPwnOxEERYS', 'o3E0AsKJfDoTBk77UQYExzOG7E46jPYvpWNGAKsD6lUBY')

In [13]:
# the api endpoint we'll ping to get our API results
base_url = 'https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=realDonaldTrump&count=200'

In [14]:
# this is our list of dictionaries that contains Donald Trump's tweets
tweet_results = requests.get(base_url, auth=tokens).json()

In [15]:
# here's our resulting dictionary
tweet_results

[{'created_at': 'Wed Nov 04 21:56:11 +0000 2020',
  'id': 1324108206801563650,
  'id_str': '1324108206801563650',
  'text': '.....there was a large number of secretly dumped ballots as has been widely reported!',
  'truncated': False,
  'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []},
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'in_reply_to_status_id': 1324108200141082624,
  'in_reply_to_status_id_str': '1324108200141082624',
  'in_reply_to_user_id': 25073877,
  'in_reply_to_user_id_str': '25073877',
  'in_reply_to_screen_name': 'realDonaldTrump',
  'user': {'id': 25073877,
   'id_str': '25073877',
   'name': 'Donald J. Trump',
   'screen_name': 'realDonaldTrump',
   'location': 'Washington, DC',
   'description': '45th President of the United States of AmericaðŸ‡ºðŸ‡¸',
   'url': 'https://t.co/8f9VFxztEJ',
   'entities': {'url': {'urls': [{'url': 'https://t.co/8f9VFxztEJ',
       'expanded_url': 'http://Vote.DonaldJTrump.com',
       'display_url': 'Vote.DonaldJTrump.com',
       'indices': [0, 23]}]},
    'description': {'urls': []}},
   'protected': False,
   'followers_count': 87992496,
   'friends_count': 50,
   'listed_count': 123264,
   'created_at': 'Wed Mar 18 13:46:38 +0000 2009',
   'favourites_count': 6,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'verified': True,
   'statuses_count': 58126,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': True,
   'profile_background_color': '6D5C18',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': True,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/25073877/1604214583',
   'profile_link_color': '1B95E0',
   'profile_sidebar_border_color': 'BDDCAD',
   'profile_sidebar_fill_color': 'C5CEC0',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'has_extended_profile': False,
   'default_profile': False,
   'default_profile_image': False,
   'following': False,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'regular'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 0,
  'favorite_count': 0,
  'favorited': False,
  'retweeted': False,
  'lang': 'en'}]

In [16]:
# we'll take our results and turn them into a dataframe
results = pd.DataFrame({
    'name': [result['user']['name'] for result in tweet_results],
    'screen_name': [result['user']['screen_name'] for result in tweet_results],
    'text': [result['text'] for result in tweet_results],
    'retweets': [result['retweet_count'] for result in tweet_results],
    'favorites': [result['favorite_count'] for result in tweet_results],
    'id': [result['id_str'] for result in tweet_results]
})

print(f"API call brought in {results.shape[0]} new tweets")
results.head()

API call brought in 1 new tweets

,name,screen_name,text,retweets,favorites,id
0,Donald J. Trump,realDonaldTrump,.....there was a large number of secretly dump...,0,0,1324108206801563650

### Step 3:  Checking For New Values

In [17]:
# this does a check for new values
# left merge means 'tweets' is the dominant table
# indicator lets you know if the value was present in one of the tables or both
results.merge(tweets, on='id', how='left', indicator=True)

,name_x,screen_name_x,text_x,retweets_x,favorites_x,id,name_y,screen_name_y,text_y,retweets_y,favorites_y,_merge
0,Donald J. Trump,realDonaldTrump,.....there was a large number of secretly dump...,0,0,1324108206801563650,NaN,NaN,NaN,NaN,NaN,left_only

In [21]:
# we'll save the variable
merged_df = results.merge(tweets, on='id', how='left', indicator=True)

In [22]:
# select the values that are left_only in the _merge column -- these are new values
print(f"Found {merged_df[merged_df._merge == 'left_only'].shape[0]} new tweets not currently in the database")
merged_df[merged_df._merge == 'left_only']

Found 1 new tweets not currently in the database

,name_x,screen_name_x,text_x,retweets_x,favorites_x,id,name_y,screen_name_y,text_y,retweets_y,favorites_y,_merge
0,Donald J. Trump,realDonaldTrump,.....there was a large number of secretly dump...,0,0,1324108206801563650,NaN,NaN,NaN,NaN,NaN,left_only

In [23]:
# get the index positions where this value is True
merged_df[merged_df._merge == 'left_only'].index

Int64Index([0], dtype='int64')

In [143]:
results.index

RangeIndex(start=0, stop=60, step=1)

In [144]:
# use these values to look up tweets in the original results df
idx = merged_df[merged_df._merge == 'left_only'].index
# and these are our new tweets
results.iloc[idx]

,name,screen_name,text,retweets,favorites,id
0,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: VOTE! VOTE! VOTE!\nhttps:...,121165,0,1323714481353068546
1,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: https://t.co/gsFSghkmdM h...,14850,0,1323714393184653323
2,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: https://t.co/gsFSgh2KPc h...,11699,0,1323714331922583556
3,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: https://t.co/gsFSghkmdM h...,11580,0,1323714155967373312
4,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: https://t.co/voxNnIYMpe,8901,0,1323714095225384962
5,Donald J. Trump,realDonaldTrump,RT @realDonaldTrump: https://t.co/gsFSghkmdM h...,13069,0,1323713956280754182

In [145]:
# and now we'll connect to the database and add in the values
with engine.connect() as connection:
    # declare data types for the db -- not necessary but a useful step if you are doing this the first time
    dtypes = {
        'name': types.String(length=65535),
        'screen_name': types.String(length=65535),
        'text': types.String(length=65535),
        'retweets': types.Integer(),
        'favorites': types.Integer(),
        'id': types.String(length=65535)
    }
    print("Adding values to database")
    try:
        results.iloc[idx].to_sql('tweets', con=connection, index=False, if_exists='append', dtype=dtypes)
        print("Successful")
    except Exception as e:
        print("Could not add results to the database.", e)

Adding values to database
Successful